#review-pages
	%section.intro
		.content
			%h1 I bought ExampleCo toothpaste
			%h2 because it performes well economically

			%ul.second-links
				%li
					= link_to "value for money", "value_path", :class => 'yellow'
				%li
					= link_to "tax compliance", "tax_path", :class => 'yellow'
				%li
					= link_to "community investment", "community_path", :class => 'yellow'