#browse-pages
	%section.intro
		.content
			%h1 ExampleCo
			%h1 toothpaste
			%br
			%h2 poor economically
			%br

			= link_to "view sources", sources_path


	%section.content
		.third
			%p.yellow 
				value for
				%br
				money
			.three.yellow-background
		.third.dark
			%p.yellow 
				tax
				%br
				compliance
			.one.yellow-background
		.third
			%p.yellow 
				community
				%br
				investment
			.one.yellow-background

