#browse-pages
	%section.intro
		.content
			%h1 ExampleCo
			%h1 toothpaste
			%br
			%h2 fairly good environmentally
			%br

			= link_to "view sources", sources_path


	%section.content
		.third
			%p.green 
				open
				%br
				reporting
			.three.green-background
		.third.dark
			%p.white 
				carbon
				%br
				emmissions
			.five.green-background
		.third
			%p.green 
				reuse /
				%br
				recycle
			.two.green-background

