#review-pages
	%section.intro
		.content
			%h1 I bought ExampleCo toothpaste
			%h2 because it performes well environmentally

	%section.content
		%ul.second-links
			%li
				= link_to "open reporting", "open_reporting", :class => 'green'
			%li
				= link_to "carbon emissions", "carbon_path", :class => 'green'
			%li
				= link_to "reuse / recycle", "reuse_path", :class => 'green'