#review-pages
	%section.intro
		.content
			%h1 I bought ExampleCo toothpaste
			%h2 because it performes well
	%section.content
		%ul.first-links
			%li
				= link_to "socially", "social_links", :class => 'blue'
			%li
				= link_to "environmentally", "environmental_links", :class => 'green'
			%li
				= link_to "economically", "economical_links", :class => 'yellow'