#review-pages
	%section.intro
		.content
			%h1 I bought ExampleCo toothpaste
			%h2 because it performes well socially

	%section.content
		%ul.second-links
			%li
				= link_to "human rights", "human_path", :class => 'blue'
			%li
				= link_to "politically", "political_path", :class => 'blue'
			%li
				= link_to "other", "other_path", :class => 'blue'