#browse-pages
	%section.intro
		.content
			%h1 ExampleCo
			%h1 toothpaste
			%br
			%h2 good socially
			%br

			= link_to "view sources", sources_path


	%section.content
		.third
			%p.blue human rights
			.three.blue-background
		.third.dark
			%p.blue politically
			.four.blue-background
		.third
			%p.blue other
			.two.blue-background


