#browse-pages
	%section.intro
		.content
			%h1 ExampleCo
			%h1 toothpaste
			%br
			%h2 sources
			%br

	%section.content#sources
		%h2#social social
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} WHO report on global wellbeing
		%h2#environmental environmental
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} Greenpeace investigates 
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} EU carbon emmissions report
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} Norwich Research Park - praise for local manufacturers
		%h2#economical economical
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} Forbes - should I invest?
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} UNESPA - Companies should create local jobs
		%a{:href => 'http://www.forbes.com/sites/toddwoody/2012/08/14/why-i-didnt-buy-a-ford-focus-electric/'} Which? - value for money 2012



